/* ==========================================
   ESTILO Y2K REVOLUTION 💿👾
   ========================================== */

:root {
    --bg-color: #000000;
    --text-color: #00ffcc;
    --card-bg: #111111;
    --urban-color: #ff007f; /* Rosa Choque Cyber */
    --rural-color: #00ff00; /* Verde Matrix */
    --y2k-blue: #00ffff;    /* Azul Turquesa Digital */
    --text-white: #ffffff;
}

/* Reset básico para consistência */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Courier New", Courier, monospace;
    background-color: var(--bg-color);
    color: var(--text-color);
    /* Grid de fundo estilo "Cyber Grid" */
    background-image: 
        linear-gradient(rgba(0, 255, 204, 0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 255, 204, 0.05) 1px, transparent 1px);
    background-size: 20px 20px;
    overflow-x: hidden;
    line-height: 1.6;
}

header {
    background: repeating-linear-gradient(
        45deg,
        #111,
        #111 10px,
        #222 10px,
        #222 20px
    );
    border-bottom: 4px ridge var(--y2k-blue);
    text-align: center;
    padding: 4rem 1rem;
}

header h1 {
    font-family: 'Impact', 'Arial Black', sans-serif;
